[Unit]
Description=Airies UPS Monitor
After=network.target

[Service]
Type=simple
User=sysadmin
WorkingDirectory=/home/sysadmin/airies-ups
ExecStart=/home/sysadmin/airies-ups/build/airies-upsd
Restart=on-failure
RestartSec=5
RuntimeDirectory=airies-ups
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
